.parallax-container {
    height: 600px;
  }
      

.image1 {
    background-image: url("../assets/img/beach-dock.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.image2 {
    background-image: url("../assets/img/Spain-PR.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}